<div class="footer" *ngIf="footerhideurl" >
  <div class="container-fluid" [ngClass]="commonurlforclass.indexOf('/blockerController')!==-1?'top_header_diasabled':''">
<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="foot">
          <p>Manitoba Clean Environment Commission<br> 305-155 Carlton St. Winnipeg MB R3C 3H8 Canada<br> Phone:
            204.945.0594&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Toll Free in Manitoba:
            800.597.3556&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Fax:
            204.945.0090
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="foot">
          <p>Manitoba Clean Environment Commission<br> 305-155 Carlton St. Winnipeg MB R3C 3H8 Canada<br> Phone:
            204.945.0594&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Toll Free in Manitoba:
            800.597.3556&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Fax:
            204.945.0090
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="foot">
          <div class="hometextalign">
            <p>Manitoba Clean Environment Commission<br> 305-155 Carlton St. Winnipeg MB R3C 3H8 Canada<br> Phone:
              204.945.0594&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Toll Free in Manitoba:
              800.597.3556&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Fax:
              204.945.0090
            </p>
           
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="foot">
          <div class="addresspart">
            <p>
              <a href="securitylogin.html"><img src="./images/secure.png"></a>
            </p>
            <p><a class="cleanenva" href="privacypolicy.html"> Privacy Policy</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-forgetpasswordpopup #content [title]="'Forgot Password'"></app-forgetpasswordpopup> -->
</div>
</div>
</div>