<br>
<h1 style="color: red;">Mat Tab</h1>
<br>
<div class="container" id="verticaltabs">
  <div id="content">
    <div id="main-content">
      <mat-tab-group  [selectedIndex]="activeTab">
        <mat-tab label="Open Tabs">
          yetjyt
        </mat-tab>
        <mat-tab label="Full Tabs" >
          thtrhtrh
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<br>
<br>
<h1 style="color: red;">Tab 2</h1><br>
<div>
        <tabset>
          <tab heading="Basic title" id="tab1">Basic content</tab>
          <tab heading="Basic Title 1">Basic content 1</tab>
          <tab heading="Basic Title 2">Basic content 2</tab>
        </tabset>
      </div>

<br><br><br>
<h1 style="color: red;">Tab 3</h1><br>
<div>
            <ngb-tabset id="upgrademembership">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <h3>arehgerh </h3>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="content">
                    <div class="row">
                      <h3>arehgerh </h3>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <b>wegweg</b>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="content">
                    <div class="row">
                      <h3>arehgerh </h3>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <h3>arehgerh </h3>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="content">
                    <div class="row">
                      <h3>arehgerh </h3>
                    </div>
                  </div>
                  <input type="button" class="btn btn-primary submitproceed" value="ggg">
                  <br>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <br><br><br>
          <h1 style="color: red;">Tab 4</h1><br>
           <div class="row">
                   <ngb-tabset id="upgrademembership">
              <ngb-tab *ngFor="let tab of tabs">
                <ng-template ngbTabTitle>
                  {{ tab.title }}
                </ng-template>
                <ng-template ngbTabContent>
                  serjdrty
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>