<div class="row" style="margin-left:5%">
  <form class="example-form" style="margin-left:5%">
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </form>
</div>
<!-- vertical tabs -->
<!-- 

#verticaltabs :host {
    
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: none;
}
#verticaltabs /deep/ .mat-tab-group {
      flex-direction: row;
  }
#verticaltabs   /deep/  .mat-tab-header {
    border-bottom: none;
  }
#verticaltabs  /deep/   .mat-tab-header-pagination {
      display: none !important;
  }
#verticaltabs /deep/  .mat-tab-labels {
      flex-direction: column;
  }
#verticaltabs /deep/ .mat-ink-bar {
      height: 100%;
      left: 98% !important;
  }
#verticaltabs /deep/ .mat-tab-body-wrapper {
      flex: 1 1 auto;
} -->