<div class="col-md-12 form-group">
  <label class="p-label">Working From Date</label>
  <my-date-picker name="workingFromDate" [options]="myDatePickerOptions"></my-date-picker>
</div>
<br>
<br>
<div class="row" style="float:left;margin-left: 30%">
 <div class="col-xs-12 col-12 col-md-4 form-group">
     <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
 </div>
 <div class="col-xs-12 col-12 col-md-4 form-group">
     <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
 </div>
</div>