
<div id="divInnerMaster" *ngIf="menuhideurl">
  <div class="top_header" [ngClass]="commonurlforclass.indexOf('/blockerController')!==-1?'top_header_diasabled':''"
    >
<nav class="navbar navbar-default">
  <div class="container-fluid">
  
    <ul class="nav navbar-nav">
      <li><a href="JavaScript:Void(0)" [routerLink]="['/scroll']">Scroll</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/datepicker']">DatePicker</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/capcha']">Capcha</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/accordian']">Accordian</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/blinkingtext']">Blinking</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/rightclickdisable']">rightclickdisable</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/headername']">Headername</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/leftmenu']">leftmenu</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/tabss']">tabss</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/showhide']">showhide</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/multiselect']">multiselect</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/pagetitle']">pagetitle</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/popup']">popup</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/addeditdelete']">addeditdelete</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/inputshowhide']">inputshowhide</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/listgrid']">listgrid</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/pagefromto']">pagefromto</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/inputconfirmpaswd']">inputconfirmpaswd</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/alerts']">Alerts</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/sliders']">sliders</a></li>
      <li><a href="JavaScript:Void(0)" [routerLink]="['/button']">Button</a></li>
      <li class="dropdown"><a>validations <span class="glyphicon glyphicon-chevron-down"></span></a>
        <div class="dropdown-content">
          <li><a href="JavaScript:Void(0)" [routerLink]="['/validations']">validations</a></li>
          <li><a href="JavaScript:Void(0)" [routerLink]="['/focusvalidations']">focusvalidations</a></li>
          <li><a href="JavaScript:Void(0)" [routerLink]="['/hidevalidation']">hidevalidation</a></li>
        </div></li>
        <li class="dropdown"><a>Matdesigns <span class="glyphicon glyphicon-chevron-down"></span></a>
          <div class="dropdown-content">
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matradio']">matradio</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/mataccordian']">mataccordian</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matcheckbox']">matcheckbox</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matinput']">matinput</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matselectbox']">matselectbox</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/mattabs']">mattabs</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/mattextarea']">mattextarea</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matgrid']">matgrid</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matloading']">matloading</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matfilldetails']">matfilldetails</a></li>
            <li><a href="JavaScript:Void(0)" [routerLink]="['/matvalidations']">matvalidations</a></li>
          </div></li>
    </ul>
  </div>
</nav>
</div>
</div>
