<!-- //ADD DELETE -->
<h1 style="color:brown;">ADD AND DELETE</h1>
<table class="table table-striped table-bordered">
 
<thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
      <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
    </td>
    <td>
      <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
    </td>
    <td>
      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
    </td>
    <td>
      <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
    </td>
  </tr>
  <tr>
    <td>
      <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" >
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" >
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" >
    </td>
    <td>
      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
    </td>
  </tr>
</tbody>
</table>
<!-- //ADD DELETE -->

<!-- add delete edit -->
<h1 style="color:brown;">ADD EDIT AND DELETE</h1>
<button (click)="getData()">Load Data</button>
<button (click)="addNew()">Add New</button>

<p-dataTable [immutable]="false" [value]="data" [editable]="true">
  <p-column field="name" header="Name">
    <ng-template let-row="rowData" pTemplate="body">
      <div *ngIf="!row.isEditable">{{row.name}}</div>
      <div *ngIf="row.isEditable">
        <input type="text" [(ngModel)]="row.name">
      </div>
    </ng-template>
  </p-column>
  <p-column field="value" header="Value">
    <ng-template let-row="rowData" pTemplate="body">
      <div *ngIf="!row.isEditable">{{row.value}}</div>
      <div *ngIf="row.isEditable">
        <input type="text" [(ngModel)]="row.value">
      </div>
    </ng-template>
  </p-column>

  <p-column field="" header="" [style]="{'text-align':'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <button (click)="editRow(row)">Edit</button>
    </ng-template>
  </p-column>
  <p-column field="" header="" [style]="{'text-align':'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <button (click)="save(row)">Save</button>
    </ng-template>

  </p-column>
  <p-column field="" header="" [style]="{'text-align':'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <button (click)="delete(row)">Delete</button>
    </ng-template>


  </p-column>
</p-dataTable>
<!-- add delete edit -->

<!-- <add></add> -->
<input #newHero
      (keyup.enter)="addHero(newHero.value)"
      (blur)="addHero(newHero.value); newHero.value='' ">

    <button (click)="addHero(newHero.value)">Add</button>

    <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>