p,
ul,
li,
div,
nav {
    padding: 0;
    margin: 0;
}

#menu {
    position: absolute;
    z-index: 2;
}

.parent-menu {
    background-color: #adb69f;
    min-width: 58.7px;
    float: left;
}

#menu ul {
    list-style-type: none;
}

#menu ul li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu>li:hover>a,
#menu>li:focus>a {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu ul li:hover>ul {
    left: 200px;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}

#menu ul li>ul {
    position: absolute;
    background-color: #793627;
    top: 0;
    left: -200px;
    min-width: 200px;
    z-index: -1;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}

#menu ul li>ul li a:hover {
    background-color: #793627;
}

#menu ul li:hover>ul {
    left: 58px !important;
    transition: left 200ms ease-in;
}

.Dashboard {
    top: 0% !important;
    height: 17%;
}

.Edit_My_Profile {
    top: 16.5% !important;
    height: 17.8%;
}

.manage_photo {
    top: 50% !important;
    height: 16.9%;
}

.profile_setting {
    top: 66.5% !important;
    height: 17%;
}

.upgrade_membership {
    top: 33% !important;
    height: 17.5% !important;
}

.help {
    top: 83.3% !important;
    height: 16.7% !important;
}

.rr {
    padding: 0 0 0 4px;
    font-size: 19px;
}

#divMenu {
    width: 4.6%;
    position: absolute;
}

.assmain {
    height: 50px;
}

.dropbtn {
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(3, 71, 86) !important;
    top: 0;
    height: 190px !important;
    left: 60px;
    background-color: #f1f1f1;
    min-width: 1222px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}